<% content_for :title, "G0RD0.com" %>

<div class="container-fluid mt-4">
  <% if notice.present? %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
  <% end %>

  <!-- emails -->
  <div class="d-md-none">
    <div class="mb-4">
      <%= render "shared/email_form" %>
    </div>
    <hr class="border-secondary">
  </div>
  <% @posts.published.each do |post| %>
    <div class="row mb-4">
      <div class="col-md-2 col-lg-1 text-md-end mb-2 mb-md-0">
        <small class="text-secondary d-none d-md-block">
          <%= post.created_at.strftime("%b %d, %Y") %><br>
          <%= post.views %> views
          <% if post.created_at > 1.week.ago %>
            <br>
            <span class="badge bg-secondary">New!</span>
          <% end %>
        </small>
        <small class="text-secondary d-md-none">
          <%= post.created_at.strftime("%b %d, %Y") %> | <%= post.views %> views
          <% if post.created_at > 1.week.ago %>
            | <span class="badge bg-secondary">New!</span>
          <% end %>
        </small>
      </div>
      <div class="col-md-10 col-lg-11">
        <h4><%= link_to post.title, post_path(post), class: "text-light text-decoration-none" %></h4>
        <%= link_to post_path(post), class: "text-secondary text-decoration-none" do %>
          <p class="mb-0"><%= truncate(post.body, length: 300, separator: ' ') %></p>
        <% end %>
      </div>
    </div>
    <hr class="border-secondary">
  <% end %>
</div>
